.container
	%h1 New user

	= render 'form'

	= link_to 'Back', users_path

= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags

:css
	body { 
	background: url('http://res.cloudinary.com/nara/image/upload/v1458308288/laptopgirl_gj3axq.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}