/ .col-md-6
/   = link_to event_path(event) do
/     .card{:style => ("background-color: red; color: white" if "event.viewcount > 5")}
/       %img.card-img-top{:src => event.hero_image_url}
/         .card-block
/           %h4
/             - if ("event.viewcount > 5") 
/               **HOT:**
/             - else
.col-md-6
  = link_to event_path(event) do
    .card
      %img.card-img-top{:src => event.hero_image_url}
        .card-block
          %h4
            .card-title
              = event.name
          .pull-xs-right
            Views: 
            = event.viewcount


          %p.card-text
            - if event.short_description.present?
              = event.short_description
            - else
              = event.starts_at.strftime('%A, %d %b %Y %l:%M %p')
              %br
              = event.ends_at.strftime('%A, %d %b %Y %l:%M %p')
              %br
              = event.venue.name