= simple_form_for @event do |f|
	.col-md-6
		= f.input :name, class: "form-control"
		= f.input :starts_at, class: "form-control"
		= f.input :ends_at, class: "form-control"
		= f.input :hero_image_url, class: "form-control"
		
	.col-md-6
		= f.input :venue_id, :collection => @venues, :label_method => :name, :value_method => :id, :label => "Venue" , :include_blank => false
		= f.input :category_id, :collection => @categories, :label_method => :name, :value_method => :id, :label => "Category" , :include_blank => false
		= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
		= f.input :short_description, class: "form-control"
		= f.input :extended_html_description, class: "form-control"
		= f.submit