.container-fluid.no-pad.events-detail
  .row.no-pad
    .col-md-3.sidebar
      %p
        = fa_icon 'ticket'
        Price
      %h1 Hot Events
      .ticket-list
        - @event.ticket_types.each do |ticket_type|
          .row
            .col-md-6
              = ticket_type.name
            .col-md-6.price.text-right
              = number_to_currency(ticket_type.price, unit: 'VND', precision: 0)
          .clearfix

        = link_to "BOOK NOW", new_order_path(:event_id => @event.id), class: "btn btn-lg btn-block btn-danger"

        - if current_user.present?
          - if @event.user_id == current_user.id
            = link_to "Edit This Event", edit_event_path(:event_id => @event.id), class: "btn btn-lg btn-block btn-primary"
            = link_to "Create a Ticket Type for This Event", new_event_ticket_type_path(@event), class: "btn btn-lg btn-block btn-primary"
            - if @event.published == false
              - if @event.ticket_types.exists?
                = link_to "Publish This Event", event_path(@event, event: {published: :true}), method: :put, class: "btn btn-lg btn-block btn-primary"
              - else
                %br
                %h3
                  You must have a ticket type to Publish your event!
            - else
              = link_to "Unpublish This Event", event_path(@event, event: {published: :false}), method: :put, class: "btn btn-lg btn-block btn-primary"
          - else
          %br
        - else

    .col-md-9.event-content
      .hero-img.hidden-sm-down{:style => "background-image: url(#{@event.hero_image_url}); background-size: cover;"}       
      .container
        %h3
          = @event.name
        .pull-left
          = fa_icon 'clock-o'
        .time-details
          = @event.starts_at.strftime('%A, %d %b %Y %l:%M %p')
        .pull-left
          = fa_icon 'map-marker'
        .venue-details
          = @event.venue.name
          %br
          = @event.venue.full_address
        %br
        /.img-spacer
        /  = image_tag 'shadow-top.png'
        .extended-description
          %b Description
          %br
          = @event.extended_html_description.html_safe