!!!
%html
  %head
    %title Coder Ticket
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  
  %body
    %nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
      %a.navbar-brand{:href => root_path} Coder Ticket
      %ul.nav.navbar-nav
        - if current_user
          %li.nav-item
            Welcome #{current_user.username}
          %li.nav-item
            = link_to "Create an Event", new_event_path #, nethod: 'delete'
          %li.nav-item
            = link_to "Create a Venue", new_venue_path #, nethod: 'delete'
          %li.nav-item.pull-xs-right
            = link_to "Logout", logout_path #, nethod: 'delete'
        - else
          %li.nav-item
            /= link_to "Login FB", "auth/facebook"
            / do = image_tag login_path #, nethod: 'delete'
          %li.nav-item
            = link_to "Login", login_path #, nethod: 'delete'
          %li.nav-item
            = link_to "Register", new_user_path
    %br
    %br
    %br
    .container
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          .container
            = msg

    = yield

:css
  a {color: white}

:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '769055986559206',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));